persistence:
    mysql:
        host: database
        port: 3306
        user: test
        password: test
        database: seen_in_twitter
        params: charset=utf8&parseTime=True&loc=Local
nsqlookupd:
    host: nsqlookupd
    port: 4161
